<configuration>
    <include resource="com/hannoverre/reflex/common/web/spring/boot/defaults.xml"/>
    
    <appender name="rasFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}: %m%n</pattern>
        </encoder>
        <file>${REFLEX_LOG_ROOTDIR}/ras.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>ras.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="rasJsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}: %m%n</pattern>
        </encoder>
        <file>${REFLEX_LOG_ROOTDIR}/ras_json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>ras_json.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    
    <!--<appender name="rasGelfAppender" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">-->
    <!--    <host>udp:localhost</host>-->
    <!--    <port>12201</port>-->
    <!--</appender>-->

    <!-- Increase the log level from "error" to "info" to log all requests, or to "trace" in order to
    log the duration of request / response cycles -->
    <logger name="com.hannoverre.reflex.ras.rest.webapp.logging.LoggingFilter"
            level="error"
            additivity="false">
        <appender-ref ref="rasJsonFileAppender"/>
    </logger>

    <logger name="com.hannoverre.reflex.ras.runtime.repository.knowledgebase.KnowledgeBaseFileSystemRepository"
            level="info"
            additivity="false">
        <appender-ref ref="rasFileAppender"/>
    </logger>

    <!-- Must be set to error according to reflex logging conventions -->
    <root level="error">
        <appender-ref ref="rasFileAppender"/>
    </root>
</configuration>
